@import "tailwindcss";
@import "tw-animate-css";

@import "./theme.css";
@import "./light.css";
@import "./dark.css";
@import "./pur-dark.css";

@source "../components";

@font-face {
  font-family: 'LXGWWenKaiMono';
  src: url('../../fonts/LXGWWenKaiMono-Medium.ttf');
  /* script/fontmin/index.ts 有字体子集化的功能 */
  /* src: url('../../fonts/LXGWWenKaiMono-Medium.woff2'); */
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  * {
    /* scrollbar-width: thin; */
    scrollbar-width: none;
    scrollbar-color: oklch(0.7 0.02 106.5) transparent;
  }
}